<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>RESTravelTiers</title>
</head>
<body>
    <h1 class="Headder">RESTravelTier API </h1>
    <div class="Container">
        <div class="About">
            <h2>About</h2>
            <p class="content">This API is used for getting up to date information about the English travel restictions put in place by the UK govenment </p>
        </div>
        <div class ="How-To-Use">
            <h2>How to use</h2>
            <p class="content"></p>
        </div>
        <div class="Examples">
            <h2>Examples</h2>
            <p class="content"></p>
        </div>

        <div class="Other-stuff">
            <h2></h2>
            <p class="content"></p>
        </div>
    </div>
    
</body>
</html>